/* $id : maintenance.css $ */
/* Body */

body {
	background: #322a2a;
	color: #b3abab;
	font-family: Arial, sans-serif, Comic Sans MS;
	line-height: 0.5em;
	margin: 0;
	padding: 0;
}

#page-wrapper {
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 100%
}

#clear .clearfix {
	clear:left;
}

/* Heading */

h1 {
	font-size: 32px;
	}
	
h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-weight: normal;
}

/* Text */

a {
	text-decoration: none;
}

a:link {
	color: #9ab0ef;
	text-decoration: none;
}

a:visited {
	color: #aeddb1;
}

a:hover {
	color: #bcc0da;
}

a.active {
	color: #d0d8cd!important;
}

/* Header */

#header-wrapper {
	background: #201a1a;
	float: left;
	height: 155px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header-shadow {
	background: url(images/header.png);
	height: 125px;
	width: 100%;
}

.header-wrapper {
	height: 155px;
	margin: 0 auto;
	width: 980px;
}

#header {
	height: 155px;
	margin: 0 auto;
	float: left;
	padding: 0px 0px 0px 35px;
	width : 980px;
}

#branding-wrapper {
	float: left;
	padding-top: 10px;
	width: 100%;
}

.branding {
	display: inline;
}

.logo {
	float:left;
	margin-top: 2px;
}

.logo img {
	height: 10px;
}

.name-slogan-wrapper {
	float: left;
	margin: 16px;
	margin-left: 0px;
	padding-top: 8px;
}

.name-slogan-wrapper h1 {
	font-size: 36px;
	line-height: 0.8em;
}

.name-slogan-wrapper span {
	color:#bac5cf;
	font-size: 14px;
	line-height: 1.2em;
}

.site-name a {
	color:#c6cfdd;
	font-family: Comic Sans MS;
	margin-left: 7px;
}

.site-name a:hover {
	color: #e1b569;
	text-decoration: none;
}

.site-slogan {
	padding-left: 43px;
}

#search-and-feed-authorize {
	float: right;
	height: 120px;
	width: 50%;
}

#authorize {
	bottom: 0;
	color: #c3dbf1;
	float: right;
	font-size: 14px;
	width: 100%;
	padding: 0px 20px 0px 0px;
}

#authorize ul {
	float: right;
	margin-top: 5px;
	padding-right: 24px;
	line-height: 1.35em;
}

#authorize ul li {
	background-image: none;
	list-style: none;
}

#authorize .first {
	float: left;
	height: 21px;
	text-align: right;
}

#authorize .last {
	border-left: 1px solid #dedede;
	float: left;
	height: 21px;
	margin-left: 9px;
	padding-left: 9px;
}

#authorize a {
	color: #d7d9da;
}

#authorize hover {
	color: #e1b569;
}

/* Page */

#container-wrapper {
	clear: left;
	margin: 0 auto;
	width: 980px;
}

.container-wrapper {
	margin: 0 auto;
	width: 980px;
	padding: 10px;
}

#container-wrapper-inner {
	margin: 0;
	width: 680px;
}

#container-outer {
	margin: 0 auto;
	width: 670px;
}

#middle-container {
	width: 680px;
}

#bottom-shadow {
	background: url(images/bottom-shadow.png) no-repeat center;
	height: 8px;
	margin-left: 10px;
	width: 658px;
}

/* Content Top & Messages Error */

#content-top {
	background: #1d1717;
	font-size: 14px;
	line-height: 1.5em;
	border-bottom:1px solid #d6e3f9;
	border-top:1px solid #d6e3f9;
	border-left:1px solid #d6e3f9;
	border-right:1px solid #d6e3f9;
	margin: 0 auto;
	margin-bottom: 42px;
	padding: 35px 39px 15px 39px;
}

.not-front #content-top {
	display: front;
}

#content-top .block {
	margin: 0 0 25px 0;
}

#main-content .messages.error {
	background-image: none;
	font-size: 14px;
	margin: 10px 0 20px 0;
	padding: 12px 10px 12px 10px;
}

#main-content .messages.warning {
	background-image: none;
	font-size: 12px;
	margin: 10px 0 20px 0;
	padding: 12px 10px 12px 10px;
}

/* Main Content */

#container-inner-wrapper {
	background: #111010;
	width: 658px;
	margin-left: 10px;
}
	
#container-inner {
	background: #1d1717;
	margin: 0 auto;
	width: 650px;
}

#main-content {
	width: 600px;
	height: auto;
	margin: 0 auto;
	padding: 30px 30px 12px 39px;
}