/* Body */

body {
	background: #322a2a;
	color: #b3abab;
	font-family: Arial, sans-serif, Comic Sans MS;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

#page-wrapper {
	float: left;
	margin: 0 auto;
	padding: 0;
	width: 100%
}
	
#clear .clearfix {
	clear:left;
}

/* Heading */

h1 {
	font-size: 32px;
	}
	
h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 15px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-weight: normal;
}

/* Text */

a {
	text-decoration: none;
}

a:link {
	color: #9ab0ef;
	text-decoration: none;
}

a:visited {
	color: #aeddb1;
}

a:hover {
	color: #bcc0da;
}

a.active {
	color: #d0d8cd!important;
}

/* Header */

#menu-wrapper {
	padding: 7px 0px 0px 0px;
	background: url(images/background-menu.png) repeat-x;
	height: 35px;
	position: relative;
	width: 100%;
	z-index: 5;
}

#background-menu {
	background: url(images/menu.png) repeat-x;
	height: 40px;
	width: 100%;
}

#menu-bar {
	line-height: 1.5 em;
	color: #c5dcd6;
	list-style: none;
}

.menu-wrapper {
	margin: 0 auto;
	width: 100%;
}

.menu-outer {
	float: right;
	height: 35px;
	margin-right: 0px;
	width: 100%;
}

.menu-outer .block-menu {
	display: inline;
	float:left
}

.menu-outer #nav ul li a {
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 4px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 1em;
}

.menu-outer ul li a {
	color: #a8a9a2!important;
}

.menu-outer  ul li a:hover {
	color: #d0daeb!important;
}

.menu-outer ul li a:active {
	color: #a8a9a2!important;
}

.menu-outer #nav {
	display: inline;
	float:left;
	list-style: none;
}

.menu-outer #nav .links {
	display: inline-block;
	float: left;
	height: 36px;
	margin: 0 !important;
	padding-left: 0 !important;
	padding-top: 4px;
	list-style: none;
}

.menu-outer #nav .links li {
	float: left;
}

.menu-outer .block {
  display: inline;
  float: left;
}

#header-wrapper {
	background: #201a1a;
	float: left;
	height: 120px;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

#header-shadow {
	background: url(images/header.png);
	height: 125px;
	width: 100%;
}

.header-wrapper {
	height: 120px;
	margin: 0 auto;
	width: 980px;
}

#header {
	height: 120px;
	margin: 0 auto;
	float: left;
	padding: 0px 0px 0px 35px;
	width : 980px;
}

#branding-wrapper {
	float: left;
	padding-top: 10px;
	width: 100%;
}

.branding {
	display: inline;
}

.logo {
	float:left;
	margin-top: 2px;
}

.logo img {
	height: 70px;
}

.name-slogan-wrapper {
	float: left;
	margin: 16px;
	margin-left: 0px;
	padding-top: 8px;
}

.name-slogan-wrapper h1 {
	font-size: 36px;
	line-height: 0.8em;
}

.name-slogan-wrapper span {
	color:#bac5cf;
	font-size: 14px;
	line-height: 1.2em;
}

.site-name a {
	color:#c6cfdd;
	font-family: Comic Sans MS;
	margin-left: 7px;
}

.site-name a:hover {
	color: #e1b569;
	text-decoration: none;
}

.site-slogan {
	padding-left: 43px;
}

#search-and-feed-authorize {
	float: right;
	height: 120px;
	width: 50%;
}

#search-and-feed {
	float:right;
	height: 24px;
	margin-top: 42px;
	padding: 0px 30px 0px 0px;
	width: 210px;
	line-height: 1.5em;
}

#header #search-box {
	float: left;
	margin-left: 10px;
	width: 85%;
}

#header #search-box.form-text {
	float: left;
	width: 100%;
}

#header #search-box.form-submit {
	float: left;
	margin-left: 2px;
	position: absolute;
	top: 42px;
	width: 60px;
}

.toolbar #header #search-box .form-submit {
	position: absolute;
	top: 0px;
}

#header #search-box label {
	display: none;
}

.feed-wrapper {
	float: right;
	height: 24px;
	padding-top: 1px;
	width: 20px;
}

#authorize {
	bottom: 0;
	color: #c3dbf1;
	float: right;
	font-size: 14px;
	width: 100%;
	padding: 0px 20px 0px 0px;
}

#authorize ul {
	float: right;
	margin-top: 5px;
	padding-right: 24px;
	line-height: 1.35em;
}

#authorize ul li {
	background-image: none;
	list-style: none;
}

#authorize .first {
	float: left;
	height: 21px;
	text-align: right;
}

#authorize .last {
	border-left: 1px solid #dedede;
	float: left;
	height: 21px;
	margin-left: 9px;
	padding-left: 9px;
}

#authorize a {
	color: #d7d9da;
}

#authorize hover {
	color: #e1b569;
}

/* Page */

#container-wrapper {
	clear: left;
	margin: 0 auto;
	width: 980px;
}

.container-wrapper {
	margin: 0 auto;
	width: 980px;
	padding: 10px;
}

#container-wrapper-inner {
	margin: 0;
	width: 680px;
}

#container-outer {
	margin: 0 auto;
	width: 670px;
}

#middle-container {
	width: 680px;
}

#bottom-shadow {
	background: url(images/bottom-shadow.png) no-repeat center;
	height: 8px;
	margin-left: 10px;
	width: 658px;
}

/* page-admin */

.page-admin #container-wrapper #main-content {
	font-size: 14px;
	line-height: 1.3em;
}

.node-type-list {
	font-size: 14;
}

#main-content #system-themes-form {
	font-size: 13px;
	width: 100%;
}

#main-content #system-themes-form tr td .theme-info {
	font-size: 13px;
	margin: 5px 8px 5px 5px;
}

#main-content #system-themes-form tr td .theme-info h2 {
	font-size: 18px;
	margin-bottom: 7px;
}

.admin-clearfix {
	clear: none!important;
}

#main-content .region .block-system .content {
	font-size: 14px;
	line-height: 1.0em;
}

#main-content .region .block-system .content #system-modules {
	font-size: 14px;
}

#main-content .region .block-system .content #edit-modules-core {
	margin-left: 0px;
	padding: 0 4px;
}

#main-content .region .block-system .content td {
	padding-left: 3px;
	padding-right: 5px;
}

/* Block Menu */

.menu-outer .block {
	float: left;
	height: 35px;
	position: relative;
	width: auto;
}

.menu-outer .block .item-list {
	float: left;
	width: auto;
}

.menu-outer .block .item-list li {
	display: inline-block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	list-style: none;
	margin-top: 2px;
	padding-left: 10px;
	padding-right: 27px;
	padding-top: 5px;
	text-decoration: none;
	text-transform: uppercase;
}

.menu-outer .block .more-link a {
	display: none;
}

.not-logged-in .contexutual-link-wrapper {
	display: none;
}

/* Superfish */

#superfish {
	padding-left: 40px;
	float: left;
	height: 35px;
}

#superfish h2 .block-title {
	display: none;
	overflow: hidden;
}

#superfish .block-title {
	display: none;
}

#superfish ul li ul .menu a {
	list-style: none;
}

#superfish ul .menu a {
	padding-left: 30px;
	padding-right: 30px;
	list-style: none;
}

#superfish .menu,
#superfish .menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

#superfish .menu {
	line-height: 1.0;
}

#superfish .menu ul {
	position: absolute;
	top: -990em;
	width: 13em;
	list-style: none;
}

#superfish .menu ul li {
	width: 100%;
	list-style: none;
}

#superfish .menu li:hover {
	visibility: inherit;
}

#superfish .menu li {
	float: left;
	position: relative;
}

#superfish .menu a {
	display: block;
	position: relative;
}

#superfish .menu li:hover ul,
#superfish .menu li.sfhover ul ul {
	left: 0;
	top: 32px;
	z-index: 99;
}

#superfish ul.menu li:hover li ul,
#superfish ul.menu li.sfHover li ul {
	top: -999em;
}

#superfish ul.menu li li:hover ul,
#superfish ul.menu li li.sfHover ul {
	left: 13em;
	top: 0;
}
#superfish ul.menu li li:hover li ul,
#superfish ul.menu li li.sfHover li ul {
	top: -999em;
}

#superfish ul.menu li li li:hover ul,
#superfish ul.menu li li li.sfHover ul {
	left: 13em;
	top: 0;
}

#superfish .menu {
	float: left;
	margin-bottom: 1em;
}

#superfish .menu a {
	padding: .75em 1em;
	text-decoration: none;
}

#superfish .menu a.sf-with-ul {
	padding-top: 10px;
	min-width: 1px;
	padding-right: 2.25em;
}

#superfish .menu a,
#superfish .menu a:visited {
	font-size: 12px;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	text-decoration: none;
	text-transform: uppercase;
}

#superfish .menu li {
	background: transparent;
}

#superfish .menu li li {
	background: #860b0d;
}

#superfish .menu li li li {
	background : #860b0d;
	top: 0px;
}

#superfish .menu li:hover,
#superfish .menu li.sfHover,
#superfish .menu a: focus,
#superfish .menu a:hover,
#superfish .menu a:active {
	outline: 0;
}

#superfish .menu li:hover,
#superfish .menu li.sfHover,
#superfish .menu a: focus,
#superfish .menu a:hover,
#superfish .menu a:active {
	z-index: 10;
}

#superfish .menu li.active-trail li {
	background: #860b0d;
}

#superfish .menu li li:hover {
	background: #860b0d;
}

#superfish .menu li li li:hover {
	background: #860b0d;
}

.sf-sub-indicator {
	display: block;
	height: 10px;
	overflow: hidden;
	position: absolute;
	right: .75em;
	text-indent: -999em;
	top: 1.05em;
	width: 10px;
}

a > .sf-sub-indicator {
	background-position: 0 -100px;
	top: .8em;
}

a: focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px;
}

#superfish .menu ul .sf-sub-indicator {
	background-position: -10px 0;
}

#superfish .menu ul a > .sf-sub-indicator {
	background-position: 0 0;
}

#superfish .menu ul a: focus > .sf-sub-indicator,
#superfish .menu ul a:hover > .sf-sub-indicator,
#superfish .menu ul a:active > .sf-sub-indicator,
#superfish .menu ul li:hover > a > .sf-sub-indicator,
#superfish .menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0;
}

#superfish .sf-shadow ul {
	padding: 0 0 8px 0;
}

#superfish .sf-shadow ul.sf-shadow-off {
	background: transparent;
}

#superfish ul ul li .expanded {
}

#superfish ul ul ul li.expanded {
}

#superfish ul ul li a:hover,
#superfish ul ul li a:visited:hover,
#superfish ul ul li .nolink:hover {
	background: #860b0d!important;
	filter: alpha(opacity=95);
	opacity: 0.95;
}

#superfish ul ul li .nolink:hover {
}

#superfish  ul ul .sfHover {
}

#superfish ul ul li.expanded a:hover {
}

#superfish ul ul li.expanded li.leaf a:hover,
#superfish ul ul li.expanded li.collapsed a:hover {
	background: #860b0d!important;
}

#superfish ul ul li.expanded li.leaf,
#superfish ul ul li.expanded li.collapsed {
	background: #860b0d!important;
}

#superfish ul ul li.leaf,
#superfish ul ul li.collapsed {
	background-image: none!important;
}

#superfish ul li.active-trail,
#superfish ul li a.active {
	color: #C5DCD6;
}

#superfish ul ul li.leaf a,
#superfish ul ul li.collapsed a {
	color: #332a2b;
	display: block!important;
}

#superfish ul ul li.leaf a:hover,
#superfish ul ul li.collapsed a:hover {
	color: #332a2b!important;
}

#superfish ul ul li.leaf a:active,
#superfish ul ul li.collapsed a:active {
  color: #1d1717!important;
}

/* Sidebar */

.front .sidebar {
	display: inline;
	margin: 0px;
	padding: 0px;
}

.not-front .sidebar #container-inner {
	float: right;
	margin-left:  0px;
	width: 100%;
}

.not-front .sidebar #main-content {
	padding: 0px 15px 25px 28px;
}

.sidebar h3 {
	border-bottom: 1px solid #1d1717;
	margin-bottom: 5px;
	margin-right: 10px;
	overflow: hidden;
	padding-bottom: 5px;
}

#sidebar-right h2.block-title {
	background: url(images/right-sidebar-title.png);
	margin: 0px;
	padding: 0px 0px 0px 20px;
	width: 280px;
	height: 40px;
	line-height: 2em;
}

#sidebar-right .content {
	padding: 10px 15px;
}

.sidebar .content {
	overflow: hidden;
}

#sidebar-right-wrapper {
	padding: 0px 0px 0px 10px;
	float: right;
	width: 300px;
}

#sidebar-right {
	font-size: 15px;
	margin-right: 0px;
	line-height: 1.25em;
}


#sidebar-right .block {
	background-color: #1d1717;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	line-height: 1.5em;
}

.sidebar .region ul.menu {
	padding-left: 8px;
}

/* SlideShow */

#slideshow-wrapper {
	background: #242122;
	clear: left;
	height: 383px;
	margin: 0 auto;
	width: 660px;
	height: 393px;
}

.slideshow-inner {
	height: 383px;
	margin: 0 auto;
	width: 650px;
	padding-top: 5px;
}


.slideshow {
	height: 383px;
	margin: 0 auto;
	max-width: 100%;
	min-width: 650px;
	overflow: hidden;
	text-align: center;
	z-index: 3;
}

.slideshow h2 .block-title {
	display: none;
}

#slideshow-shadow {
	height: 9px;
	margin: 0 auto;
	position: relative;
	width: 650px;
	z-index: 4;
}

#mission-wrapper {
	float: right;
	max-height: 383px;
	position: relative;
	vertical-align: bottom;
	width: 650px;
	z-index: 5;
}

.mission-wrapper {
	background: #860b0d;   /* if you want to add some background into mission-wrapper => for more clearly vision */
	bottom: 0;
	filter: alpha(opacity=70);
	font-size: 17px;
	opacity: 0.70;
	padding: 10px 0px 10px 0px;
	position: absolute;
	width: 650px;
	z-index: 5;
}

.misson {
	line-height: 1.5em;
}

#mission {
	color: #1d1717;
	padding: 0 10px 0 10px;
	text-align: right;
}

/* Content Top & Messages Error */

#content-top {
	background: #1d1717;
	font-size: 14px;
	line-height: 1.3em;
	margin: 0 auto;
	margin-bottom: 42px;
	padding: 35px 39px 15px 39px;
}

.not-front #content-top {
	display: front;
}

#content-top .block {
	margin: 0 0 25px 0;
}

#main-content .messages.error {
	background-image: none;
	font-size: 14px;
	margin: 10px 0 20px 0;
	padding: 12px 10px 12px 10px;
}

#main-content .messages.warning {
	background-image: none;
	font-size: 12px;
	margin: 10px 0 20px 0;
	padding: 12px 10px 12px 10px;
}

/* Main Content */

#container-inner-wrapper {
	background: #111010;
	width: 658px;
	margin-left: 10px;
}
	
#container-inner {
	background: #1d1717;
	margin: 0 auto;
	width: 650px;
}

#main-content {
	width: 600px;
	height: auto;
	margin: 0 auto;
	padding: 30px 30px 12px 39px;
}

#main-content .node {
	line-height: 1.2em;
	margin: 15px 0 50px 0;
}

#main-content .node .title {
	color: #677aec;
	display: inline;
	float: left;
	font-size: 20px;
	width: 100%;
}

#main-content .node .submitted {
	color: #aa3d3d;
	font-size: 12px;
	margin-bottom: 15px;
	margin-top: 3px;
}

#main-content .node .submitted a {
	color: #aa3d3d;
	font-size: 12px;
}

#main-content .node .submitted a:hover {
	color: #9ca2b8;
	font-size: 12px;
}

#main-content .node .content {
	color: #a8a6bf;
	font-size: 13.5px;
	line-height: 1.4em;
	margin: 15px 0 20px 0;
	padding: 10px;
}

#main-content .node .links {
	margin-bottom: 20px;
}

#main-content .node .links a {
	color: #7f7f7f;
	font-size: 15px;
}

#main-content .node .links a:hover {
	color: #325e99;
	font-size: 12px;
}

#main-content .node .content .content {
	display: block;
	float: left;
	position: static;
}

/* Content Not Front */

.not-front #main-content .node {
	margin: 0 0 0 0;
}

/* Footer */

#footer-wrapper {
	clear: both;
	text-align: center;
	width: 936px;
	background: #000000;
	position: relative;
	margin: 0 auto;
	height: 90px;
	padding-top: 2px;
}

#footer {
	color: #c6c8d1;
	font-size: 14px;
	line-height: 0.5em;
	margin: 0 auto;
	margin-bottom: 10px;
	width: 920px;
	height: 66px;
	position: relative;
	text-align: center;
	background: #860b0d;
	padding: 10px 0 10px 10px;
}

#footer #subnav {
	width: 300px;
	float: left;
	bottom: 0;
	position: absolute;
}

#footer #subnav li {
	display: inline;
	list-style: none;
}

#subnav .links {
	float: left;
}

#footer #subnav a {
	color: #b8c3d5;
	display: inline;
	font-size: 12px;
	font-style: italic;
	list-style: none;
	padding: 0 0.5em;
}

#footer #subnav a:hover {
	color: #ee3926;
	font-size: 12px;
	font-style: italic;
	text-decoration: underline;
}

/* BreadCrumb */

#breadcrumb .breadcrumb {
	display: block;
	float: left;
	font-size: 14px;
	padding-left: 35px;
	padding-top: 5px;
}

/* Poll */

.poll {
	margin: 10px 0;
}

.poll .bar {
	border: solid #cabbbb;
	border-width: 1px 1px 1px;
}

.poll .bar .foreground {
	background: #b1b1b1;
}

/* Tabs */

.tabs {
	margin: 0 0 20px 0;
}

ul.primary {
	border-color: #ffffff;
	padding: 0 0 0 1em;
	white-space: nowrap;
	list-style: none;
	margin: 5px;
	height: auto;
	line-height: normal;
}

ul.primary li {
	display: inline;
	border-color: #ffffff;
	background: none;
	border-bottom: #000000;
}

ul.primary li a {
	background-color: #000000;
	border-color: #ffffff;
	border-width: 1px;
	border-style: solid solid none solid;
	border-bottom: #000000;
	height: auto;
	margin-right: 0.5em;
	padding: 0 1em;
	text-decoration: none;
}

ul.primary li.active a {
	background-color: #000000;
	border: 1px solid #ffffff;
	border-bottom: #000000;
}

ul.primary li a:hover {
	background-color: #000000;
	border-color: #ffffff;
	border-bottom: none;
}

ul.secondary {
	border-bottom: none;
	padding: 0.5em 1em;
	margin: 5px;
}

ul.secondary li {
	display: inline;
	padding: 0 1em;
	border-right: 1px solid #ffffff;
}

ul.secondary a {
	padding: 0;
	text-decoration: none;
}

ul.secondary a.active {
	border-bottom: none;
}

/* Taxonomy */

.page-taxonomy .node {
	padding-top: 35px;
}

.node .field-type-taxonomy-term-reference {
	padding-left: 20px;
}

.node .field-type-taxonomy-term-reference .field-label {
	float: left;
	font-size: 12px;
	padding-left: 20px;
}

.node .field-type-taxonomy-term-reference .field-items {
	display: inline;
	float: left;
	font-size: 12px;
	list-style: none;
}

.node .field-type-taxonomy-term-reference .field-item {
	float: left;
	list-style: none;
	overflow: hidden;
	padding-left: 10px;
}

/* Blog */

/* User Profile + Picture */

.node #user-picture {
	float: right;
	width: auto;
}

div.user-picture {
	height: auto;
	width: auto;
}

.node .user-picture,
.comment .user-picture,
.content .user-picture {
	float: none;
	display: block;
}

.node  .user-picture img,
.comment  .user-picture img,
.content  .user-picture img {
	margin: 5px 8px;
	width: 60px;
}

.user-signature {
  border-top: 1px solid #453f40;
}

/* Comment */

#comments {
	background: #fbfdfe;
	border-bottom: 1px solid #131212;
	border-left: 1px solid #131212;
	border-right: 1px solid #131212;
	border-top: 1px solid #131212;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 10px 0 10px;
	margin-bottom: 42px;
	padding: 45px 39px 15px 39px;
	color: #000000;
	}

#comments ul.links {
	border: 1px solid #131212;
	padding: 4px 10px 4px 10px;
}

.page-comment #main-content .comment {
	background: #fbfdfe;
	border-bottom: 1px solid #131212;
	border-left: 1px solid #131212;
	border-right: 1px solid #131212;
	border-top: 1px solid #131212;
	font-size: 12px;
	line-height: 1.0em;
	margin: 20px 10px 0 10px;
	margin-bottom: 42px;
	padding: 25px 39px 15px 39px;
}

#main-content .comment h3 {
	font-size: 20px;
}

#main-content .comment .content {
	line-height: 1.0em;
}

#comments .comment,
#comments .comment-published {
	margin: 0 0 35px 0;
}

#comments .comment a#new,
#comments .comment span.new,
.preview a#new,
.preview span.new {
	color: #ccac38;
}

#comments .comment h3,
#comments .comment-published h3 {
	font-size: 23px;
}

#comments .comment .content {
	line-height: 1.0em;
}

#comment-form {
	padding: 10px 0 25px 0;
}

#comment-form .preview {
	background: #fbfdfe;
	border-bottom: 1px solid #131212;
	border-left: 1px solid #131212;
	border-right: 1px solid #131212;
	border-top: 1px solid #131212;
	font-size: 12px;
	line-height: 1.0em;
	margin: 0 10px 0 10px;
	margin-bottom: 42px;
	padding: 25px 39px 15px 39px;
}

#comment-form .preview h3 {
	font-size: 23px;
}

#comment-form .preview .content {
	line-height: 1.0em;
}

/* Bottom region
-------------------------------------------------------------- */

#bottom-wrapper {
	margin: 0 auto;
	max-height: 100%;
	min-height: 260px;
	padding: 10px 0 25px 0;
	width: 960px;
}

#bottom-wrapper .column {
	float: left;
	max-height: 100%;
	min-height: 280px;
	overflow: hidden;
	padding: 10px 0 25px 0;
}

#bottom-wrapper .column h2 {
	text-align: center;
}

#bottom-wrapper .B,
#bottom-wrapper .C,
#bottom-wrapper .D {
	background: url(images/separator-left.gif) repeat-y left top;
}

#bottom-wrapper.in1 .column {
	width: 100%;
}

#bottom-wrapper.in2 .column {
	width: 50%;
}

#bottom-wrapper.in3 .column {
	width: 33.3%;
}

#bottom-wrapper.in4 .column {
	width: 25%;
}

#bottom-wrapper .block {
	padding: 5px 0 15px 0;
}

#bottom-wrapper .content {
	font-size: 14px;
	margin: 10px 10px 25px 15px;
}

#bottom-wrapper .more-link {
	display: inline;
	float: left;
}

#bottom-wrapper .block-node {
	max-height: 100%;
	min-height: 240px;
}

/* Table */

table {
	line-height: 1.2em;
	width: 100%;
}

table tr.odd {
	background-color: #742424!important;
}

table tr.even {
  background-color: #3f3030!important;
}

table .title-author {
  padding: 5px 0 5px 10px!important;
}

.more-link {
  float: right;
}